<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Atividade: Nova</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <header th:include="cabecalho :: header"></header>

    <ul class="nav nav-pills mb-3">
        <li class="nav-item"><a class="nav-link" href="/">Página Inicial</a></li>
        <li class="nav-item"><a class="nav-link" href="/item">Voltar</a></li>
    </ul>



        <li><a href="/"> HOME</a></li>
        <form th:action="@{./salvar}" th:object="${item}" method="POST">
            <div>
            <label>Titulo: <input type="text" th:field="*{titulo}" /></label>
            <label >Etiquetas:</label>
            </div>
            <label for="formGroupExampleInput">Etiqueta:</label>
            <div>
                <div th:each="listaEtiqueta: ${estiquetas}" th:object=${Etiqueta}>
                    <input type="checkbox" th:value="${listaEtiqueta.id}" name="etiquetas">
                    <label for="defaultCheck1" th:text="${listaEtiqueta.titulo}"></label>
                </div>
            </div>
            <input type="submit"  />
            <input type="reset" />
        </form>
        
</body>
</html>

