<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Listagem de Usuarios</title>
</head>
<body>
   <table>
       <thead>
           <tr> <th>id</th> <th>Titulo</th>?????????????????????
       </thead>
       <tbody>
         <tr th:each="item: ${itens}">
            <td th:text=${item.id}>  </td> 
            <td th:text=${item.titulo}></td>
            <td>
               <div >
                     <a  th:href="@{/item/edit/{id}(id=${item.id})}" >Editar</a>
                     <a  th:href="@{/item/delete/{id}(id=${item.id})}">Excluir</a>
               </div>
            </td>
         </tr>
         <a  th:href="@{/item/form.html}" >Criar novo Item</a> 
     </tbody>

   </table>
</body>
</html>