<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Atividade: Nova</title>
</head>
<body>
        <li><a href="/"> HOME</a></li>
        <form th:action="@{./salvar}" th:object="${anotacao}" method="POST">
            <label>Id: <input type="text" th:field="*{id}" /></label>
            <label>Titulo: <input type="text" th:field="*{titulo}" /></label>
            <label>Descrição: <input type="text" th:field="*{descricao}" /></label>
            <label>URL: <input type="text" th:field="*{url}" /></label>
            <label>Data de Inclução: <input type="text" th:field="*{dataDeInclusao}" /></label>
            <label>Data de Alteração: <input type="text" th:field="*{dataDeAlteracao}" /></label>
            <label for="formGroupExampleInput">Usuario:</label>
                <div>
                    <div th:each="user: ${usuarios}" th:object=${Etiqueta}>
                        <input type="RADIO" th:value="${user.id}" th:attr="checked=${anotacao.usuario.id==user.id ? true :false} " name="usuario">
                        <label for="defaultCheck1" th:text="${user.nomeCompleto}"></label>
                    </div>
                </div>  
            <input type="submit"  />
            <input type="reset" />
        </form>      
</body>
</html>
