<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Usuários</title>
</head>
<body>

    <h1>Cadastrar Usuários</h1>

    <form action="salvarusuario" method="post">

        <label>Nome</label>
        <input name="nomeCompleto"><br><br>

        <label>Email:</label>
        <input name="email"><br><br>

        <label>Código:</label>
        <input name="codigo"><br><br>

        <label>Descrição:</label>
        <input name="descricao"><br><br>

        <input type="submit" value="Salvar">


    </form>
  
</body>
</html>