<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Etiquetas</title>
</head>
<body>

    <h1>Cadastrar Etiquetas</h1>

    <form action="salvaretiqueta" method="post">

        <label>Titulo:</label>
        <input name="titulo"><br><br>

        <label>Endereço (url):</label>
        <input name="url"><br><br>

        <label>Descricao:</label>
        <input name="descricao"><br><br>

        <input type="submit" value="Salvar">

    </form>
  
</body>
</html>