<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Atividade: Nova</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <header th:include="cabecalho :: header"></header>

    <ul class="nav nav-pills mb-3">
        <li class="nav-item"><a class="nav-link" href="/">Página Inicial</a></li>
        <li class="nav-item"><a class="nav-link" href="/vinculo">Voltar</a></li>
    </ul>



    <li><a href="vinculo/criar">Criar Novo Vinculo</a></li>
    <table class="table table-hover">
    <caption>Lista de Vínculos desse item</caption>
        <thead>
            <tr> <th>id</th> <th>Origem</th> <th>Destino</th>  <th>Destino</th> <th>Operação</th> <th>Operação</th> </tr>
        </thead>
        <tbody>
            <tr th:each="vinculo: ${vinculos}">
                
                <td th:text=${vinculo.id}></td>
                <td th:text=${vinculo.origem.titulo}></td>
                <td th:text=${vinculo.destino.titulo}></td>
                <td><a th:href="@{'vinculo/editar/' + ${vinculo.id}}" role="button">Editar</a></td>
                <td><a th:href="@{'vinculo/deletar/' + ${vinculo.id}}" role="button">Deletar</a></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>