<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-6">Trabalho 3</h2>
            <p class="lead">DCC193 - Desenvolvimento Web 2</p>
        </div>
        <ul class="nav nav-pills mb-1">
        <li class="nav-item"><a class="nav-link" href="usuario">Usuarios</a></li>
        <li class="nav-item"><a class="nav-link" href="item">Itens</a></li>
        <li class="nav-item"><a class="nav-link" href="etiqueta">Etiquetas</a></li>
        <li class="nav-item"><a class="nav-link" href="vinculo">Vinculos</a></li>
        <li class="nav-item"><a class="nav-link" href="anotacao">Anotações</a></li>
    </ul>
    </div>
</header>