<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Atividade: Nova</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <header th:include="cabecalho :: header"></header>

    <ul class="nav nav-pills mb-3">
        <li class="nav-item"><a class="nav-link" href="/">Página Inicial</a></li>
        <li class="nav-item"><a class="nav-link" href="etiqueta/criar">Nova Etiqueta</a></li>
    </ul>

    <table class="table table-hover">
    <caption>Lista de Etiquetas cadastrados</caption>
        <thead>
            <tr> <th>Operação</th> <th>Operação</th> <th>Titulo</th><th>Descrição</th> <th>URL</th>
        </thead>
        <tbody>
            <tr th:each="etiqueta: ${etiquetas}">
                <td><a th:href="@{'etiqueta/editar/' + ${etiqueta.id}}" role="button">Editar</a></td>
                <td><a th:href="@{'etiqueta/deletar/' + ${etiqueta.id}}" role="button">Deletar</a></td>
                <td th:text=${etiqueta.Titulo}></td>
                <td th:text=${etiqueta.descricao}></td>
                <td th:text=${etiqueta.url}></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
