<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Atividade: Nova</title>
</head>
<body>
    <li><a href="etiqueta/criar">Criar Nova Etiquetas</a></li>
    <table>
        <thead>
            <tr> <th>Operação</th> <th>Operação</th> <th>Operação</th> <th>Titulo</th><th>Descrição</th> <th>URL</th>
        </thead>
        <tbody>
            <tr th:each="etiqueta: ${etiquetas}">
               
                <td><a th:href="@{'etiqueta/editar/' + ${etiqueta.id}}" role="button">Editar</a></td>
                <td><a th:href="@{'etiqueta/deletar/' + ${etiqueta.id}}" role="button">Deletar</a></td>
                <td><a th:href="@{'/etiqueta/Itens/editar/' + ${etiqueta.id}}" role="button">Itens</a></td>
                <td th:text=${etiqueta.Titulo}></td>
                <td th:text=${etiqueta.descricao}></td>
                <td th:text=${etiqueta.url}></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
