<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Novo Vinculo</title>
</head>
<body>
   <html>Novo Vinculo</html>
   <form th:action="@{form.html}" th:object="${vinculo}" method="POST">
       <label>Origem: 
            <select th:each="item: ${itens}">
                  <option value=${item.id}>${item.titulo}></option>
            </select>
       </label>
       <label>Destino:

            <select id="percentage" name="percentage">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  ...
                  <option value="100">100</option>
              </select></label>
       <input type="submit"/>
       <input type="reset"/>
   </form>
</body>
</html>



